<% form_for [@client, @source] do |f| %>
	
	<div class="field">
		<%= f.label :source_name, "Nome do código" %>
		<%= f.text_field :source_name %>
		<div class="explanation">
			Ex.: "TML010.prw"
		</div>
	</div>

	<div class="field">
		<%= f.label :sourcecode_type_id, "Tipo" %>
	 	<%= f.select :sourcecode_type_id, @sourcecode_types %>
	</div>
	
	<div class="field">
 		<%= f.label :complexity, "Complexidade" %>
 		<%= f.select :complexity, [1, 2, 3, 4, 5] %>
		<div class="explanation">
			Grau de complexidade do código.
		</div>
 	</div>
	<div class="field">
 		<%= f.label :tables_involved, "Tabelas envolvidas" %>
 		<%= f.text_area :tables_involved %>
 	</div>

	<div class="field">
 		<%= f.label :code_sector_id, "Chamado a partir de um" %>
 		<%= f.select :code_sector_id, @code_sectors %>
 	</div>
	
	<div class="field">
 		<%= f.label :called_from, "Nome do local de onde é chamado" %>
 		<%= f.text_field :called_from %>
		<div class="explanation">
			Ex.: "SIGAEST", "SIGAPCP"
		</div>
 	</div>
	<div class="field">
 		<%= f.label :observation, "Observação" %>
 		<%= f.text_area :observation %>
 	</div>
	<div class="field">
 		<%= f.label :line_numbers, "Número de Linhas" %>
 		<%= f.text_field :line_numbers %>
 	</div>
	<div class="field">
 		<%= f.label :active, "Ativo?" %>
 		<%= f.select :active, [[ 'Sim', true ], ['Não', false]] %>
 	</div>
	<div class="field">
 		<%= f.label :activation_date, "Data de ativação" %>
 		<%= f.date_select :activation_date %>
 	</div>
	
	<%= f.submit "Enviar" %>
<% end %>

<% content_for :header_tags do %>
	<%= stylesheet_link_tag 'form', :plugin => 'redmine_source_control' %>
<% end %>